In [116]:
import pandas as pd
# read csv into pandas

df = pd.read_csv('attribution_allocation_student_data.csv')
df

       convert_TF    touch1    touch2    touch3    touch4 touch5  tier
0            True     email  referral  referral       NaN    NaN     1
1            True  referral  referral     email       NaN    NaN     1
2            True  referral       NaN       NaN       NaN    NaN     1
3            True     email       NaN       NaN       NaN    NaN     1
4            True  referral  referral    social  referral    NaN     1
...           ...       ...       ...       ...       ...    ...   ...
68119       False    direct       NaN       NaN       NaN    NaN     3
68120       False    direct     email  referral       NaN    NaN     3
68121       False    direct  referral       NaN       NaN    NaN     3
68122       False     email    direct       NaN       NaN    NaN     3
68123       False    direct  referral    social       NaN    NaN     3

[68124 rows x 7 columns]

## filter the converted customer

In [117]:
df_true = df[df['convert_TF'] == True]
df_true_t1 = df_true[df_true['tier'] == 1]
df_true_t2 = df_true[df_true['tier'] == 2]
df_true_t3 = df_true[df_true['tier'] == 3]

In [118]:
df_true_t3

,convert_TF,touch1,touch2,touch3,touch4,touch5,tier
34062,True,referral,email,NaN,NaN,NaN,3
34063,True,referral,referral,email,NaN,NaN,3
34064,True,display,referral,paid_search,NaN,NaN,3
34065,True,referral,email,NaN,NaN,NaN,3
34066,True,referral,referral,referral,email,NaN,3
...,...,...,...,...,...,...,...
60648,True,referral,referral,NaN,NaN,NaN,3
60649,True,referral,referral,referral,referral,NaN,3
68103,True,organic_search,referral,referral,referral,NaN,3
68104,True,referral,referral,NaN,NaN,NaN,3
68117,True,direct,referral,NaN,NaN,NaN,3

## convert dataframe to dict

In [119]:
# to dictionary
df_true_t1_dic = df_true_t1.to_dict(orient='records')
df_true_t2_dic = df_true_t2.to_dict(orient='records')
df_true_t3_dic = df_true_t3.to_dict(orient='records')

In [120]:
import math

# dic for tier 1
df_true_t1_dic
df_true_t1_dic_channel = []

for item in df_true_t1_dic:
    list_touch = ['touch1', 'touch2', 'touch3', 'touch4','touch5']
    list1 = []
    for t in list_touch:
        if type(item[t]) == float:
            pass
        else:
            list1.append(item[t])
        
    df_true_t1_dic_channel.append(list1)

# dic for tier 2
df_true_t2_dic
df_true_t2_dic_channel = []
for item in df_true_t2_dic:
    list_touch = ['touch1', 'touch2', 'touch3', 'touch4','touch5']
    list1 = []
    for t in list_touch:
        if type(item[t]) == float:
            pass
        else:
            list1.append(item[t])
        
    df_true_t2_dic_channel.append(list1) 

# dic for tier 3
df_true_t3_dic
df_true_t3_dic_channel = []
for item in df_true_t3_dic:
    list_touch = ['touch1', 'touch2', 'touch3', 'touch4','touch5']
    list1 = []
    for t in list_touch:
        if type(item[t]) == float:
            pass
        else:
            list1.append(item[t])
        
    df_true_t3_dic_channel.append(list1)

## credit distributed to each channel

In [122]:
t1_channel_count = {'social':0, 'organic_search':0, 'referral':0, 'email':0, \
                           'paid_search':0, 'display':0, 'direct':0}
t2_channel_count = {'social':0, 'organic_search':0, 'referral':0, 'email':0, \
                           'paid_search':0, 'display':0, 'direct':0}
t3_channel_count = {'social':0, 'organic_search':0, 'referral':0, 'email':0, \
                           'paid_search':0, 'display':0, 'direct':0}

for item in df_true_t1_dic_channel:
    
    # if there is only one channel for this customer journey
    # will attribute all credit to this channel
    if len(item) == 1:
        t1_channel_count[item[0]] += 1
    
    
    # if there is two channels for this customer journey
    # will attribute half credit to both of the channel
    elif len(item) == 2:
        for i in item:
            t1_channel_count[i] += 0.5
        
    # if there is more than two channel,
    # will practice position based method
    else:
        m_credit = 0.2/(len(item) - 2)
        t1_channel_count[item[0]] += 0.4
        t1_channel_count[item[-1]] += 0.4
        
        for i, v in enumerate(item):

            if i != 0 and i != (len(item)-1):
                t1_channel_count[item[i]] += m_credit
            else:
                pass

In [123]:
for item in df_true_t2_dic_channel:
    
    # if there is only one channel for this customer journey
    # will attribute all credit to this channel
    if len(item) == 1:
        t2_channel_count[item[0]] += 1
    
    
    # if there is two channels for this customer journey
    # will attribute half credit to both of the channel
    elif len(item) == 2:
        for i in item:
            t2_channel_count[i] += 0.5
        
    # if there is more than two channel,
    # will practice position based method
    else:
        m_credit = 0.2/(len(item) - 2)
        t2_channel_count[item[0]] += 0.4
        t2_channel_count[item[-1]] += 0.4
        
        for i, v in enumerate(item):

            if i != 0 and i != (len(item)-1):
                t2_channel_count[item[i]] += m_credit
            else:
                pass

In [124]:
for item in df_true_t3_dic_channel:
    
    # if there is only one channel for this customer journey
    # will attribute all credit to this channel
    if len(item) == 1:
        t3_channel_count[item[0]] += 1
    
    
    # if there is two channels for this customer journey
    # will attribute half credit to both of the channel
    elif len(item) == 2:
        for i in item:
            t3_channel_count[i] += 0.5
        
    # if there is more than two channel,
    # will practice position based method
    else:
        m_credit = 0.2/(len(item) - 2)
        t3_channel_count[item[0]] += 0.4
        t3_channel_count[item[-1]] += 0.4
        
        for i, v in enumerate(item):

            if i != 0 and i != (len(item)-1):
                t3_channel_count[item[i]] += m_credit
            else:
                pass

In [125]:
t1_channel_count

{'social': 512.7333333333279,
 'organic_search': 1.6333333333333333,
 'referral': 1419.9000000000458,
 'email': 258.4000000000002,
 'paid_search': 141.50000000000043,
 'display': 487.4333333333278,
 'direct': 2.4}

In [126]:
# to dataframe
channel_count_last = []

channel_count_last.append(t1_channel_count)
channel_count_last.append(t2_channel_count)
channel_count_last.append(t3_channel_count)


DF_channel_count_position_based = pd.DataFrame(channel_count_last, index = ['t1','t2','t3'])

In [127]:
DF_channel_count_position_based

,social,organic_search,referral,email,paid_search,display,direct
t1,512.733333,1.633333,1419.900000,258.400000,141.500000,487.433333,2.4
t2,881.266667,3.600000,2533.466667,451.633333,270.566667,750.066667,1.4
t3,1058.533333,5.166667,3132.000000,616.400000,369.866667,876.033333,5.0

## total spend

In [128]:
spend = pd.read_csv('channel_spend_student_data.csv')
spend.set_index(['Unnamed: 0'],inplace=True)
spend

                                                            0
Unnamed: 0
tier1       {'email': 1000.0, 'social': 1000.0000000000001...
tier2       {'email': 2000.0, 'social': 2000.0, 'display':...
tier3       {'email': 3000.0, 'social': 3000.0, 'display':...

In [129]:
tier1_spend = eval(spend.loc['tier1','0'])
tier2_spend = eval(spend.loc['tier2','0'])
tier3_spend = eval(spend.loc['tier3','0'])

In [130]:
l_spend = []
l_spend.append(tier1_spend)
l_spend.append(tier2_spend)
l_spend.append(tier3_spend)
l_spend

[{'email': 1000.0,
  'social': 1000.0000000000001,
  'display': 1000.0,
  'paid_search': 999.9999999999999,
  'referral': 1000.0,
  'organic_search': 0.0,
  'direct': 0.0},
 {'email': 2000.0,
  'social': 2000.0,
  'display': 2000.0,
  'paid_search': 2000.0,
  'referral': 2000.0,
  'organic_search': 0.0,
  'direct': 0.0},
 {'email': 3000.0,
  'social': 3000.0,
  'display': 3000.0,
  'paid_search': 3000.0,
  'referral': 3000.0,
  'organic_search': 0.0,
  'direct': 0.0}]

In [131]:
df_spend = pd.DataFrame(l_spend, index = ['t1','t2','t3'])

In [132]:
df_spend

     email  social  display  paid_search  referral  organic_search  direct
t1  1000.0  1000.0   1000.0       1000.0    1000.0             0.0     0.0
t2  2000.0  2000.0   2000.0       2000.0    2000.0             0.0     0.0
t3  3000.0  3000.0   3000.0       3000.0    3000.0             0.0     0.0

## CAC

In [133]:
CAC = df_spend/DF_channel_count_position_based
CAC

,direct,display,email,organic_search,paid_search,referral,social
t1,0.0,2.051563,3.869969,0.0,7.067138,0.704275,1.950332
t2,0.0,2.666430,4.428371,0.0,7.391894,0.789432,2.269461
t3,0.0,3.424527,4.866970,0.0,8.111031,0.957854,2.834110

In [149]:
df_spend_all

      email  social  display  paid_search  referral  organic_search  direct
t1   1000.0  1000.0   1000.0       1000.0    1000.0             0.0     0.0
t2   2000.0  2000.0   2000.0       2000.0    2000.0             0.0     0.0
t3   3000.0  3000.0   3000.0       3000.0    3000.0             0.0     0.0
all  6000.0  6000.0   6000.0       6000.0    6000.0             0.0     0.0

In [134]:
df_spend_all = df_spend.copy()
df_spend_all

     email  social  display  paid_search  referral  organic_search  direct
t1  1000.0  1000.0   1000.0       1000.0    1000.0             0.0     0.0
t2  2000.0  2000.0   2000.0       2000.0    2000.0             0.0     0.0
t3  3000.0  3000.0   3000.0       3000.0    3000.0             0.0     0.0

In [135]:
column_list = df_spend_all.columns
column_list

Index(['email', 'social', 'display', 'paid_search', 'referral',
       'organic_search', 'direct'],
      dtype='object')

In [136]:
df_spend_all.loc['all'] = [df_spend_all[column_list[0]].sum(), df_spend_all[column_list[1]].sum(), \
                       df_spend_all[column_list[2]].sum(), df_spend_all[column_list[3]].sum(), \
                       df_spend_all[column_list[4]].sum(), df_spend_all[column_list[5]].sum(), \
                       df_spend_all[column_list[6]].sum()]

      email  social  display  paid_search  referral  organic_search  direct
t1   1000.0  1000.0   1000.0       1000.0    1000.0             0.0     0.0
t2   2000.0  2000.0   2000.0       2000.0    2000.0             0.0     0.0
t3   3000.0  3000.0   3000.0       3000.0    3000.0             0.0     0.0
all  6000.0  6000.0   6000.0       6000.0    6000.0             0.0     0.0

In [138]:
DF_channel_count_position_based_all = DF_channel_count_position_based.copy()
column_list2 = DF_channel_count_position_based_all.columns
DF_channel_count_position_based_all.loc['all'] = [DF_channel_count_position_based_all[column_list2[0]].sum(), DF_channel_count_position_based_all[column_list2[1]].sum(), \
                                                  DF_channel_count_position_based_all[column_list2[2]].sum(), DF_channel_count_position_based_all[column_list2[3]].sum(), \
                                                  DF_channel_count_position_based_all[column_list2[4]].sum(), DF_channel_count_position_based_all[column_list2[5]].sum(), \
                                                  DF_channel_count_position_based_all[column_list2[6]].sum()]

In [150]:
DF_channel_count_position_based_all

,social,organic_search,referral,email,paid_search,display,direct
t1,512.733333,1.633333,1419.900000,258.400000,141.500000,487.433333,2.4
t2,881.266667,3.600000,2533.466667,451.633333,270.566667,750.066667,1.4
t3,1058.533333,5.166667,3132.000000,616.400000,369.866667,876.033333,5.0
all,2452.533333,10.400000,7085.366667,1326.433333,781.933333,2113.533333,8.8

In [139]:
CAC = df_spend/DF_channel_count_position_based
CAC

,direct,display,email,organic_search,paid_search,referral,social
t1,0.0,2.051563,3.869969,0.0,7.067138,0.704275,1.950332
t2,0.0,2.666430,4.428371,0.0,7.391894,0.789432,2.269461
t3,0.0,3.424527,4.866970,0.0,8.111031,0.957854,2.834110

In [140]:
CAC_all = df_spend_all.loc['all']/DF_channel_count_position_based_all.loc['all']
CAC_all

direct            0.000000
display           2.838848
email             4.523409
organic_search    0.000000
paid_search       7.673288
referral          0.846816
social            2.446450
Name: all, dtype: float64

## marginal CAC

In [141]:
df_marginal_spend = df_spend.copy()
df_marginal_spend.loc['t3'] = df_marginal_spend.loc['t3'] - df_marginal_spend.loc['t2']
df_marginal_spend.loc['t2'] = df_marginal_spend.loc['t2'] - df_marginal_spend.loc['t1']

In [152]:
df_marginal_spend

     email  social  display  paid_search  referral  organic_search  direct
t1  1000.0  1000.0   1000.0       1000.0    1000.0             0.0     0.0
t2  1000.0  1000.0   1000.0       1000.0    1000.0             0.0     0.0
t3  1000.0  1000.0   1000.0       1000.0    1000.0             0.0     0.0

In [143]:
df_marginal_conversion = DF_channel_count_position_based.copy()
df_marginal_conversion.loc['t3'] = df_marginal_conversion.loc['t3'] - df_marginal_conversion.loc['t2']
df_marginal_conversion.loc['t2'] = df_marginal_conversion.loc['t2'] - df_marginal_conversion.loc['t1']

In [151]:
df_marginal_conversion

,social,organic_search,referral,email,paid_search,display,direct
t1,512.733333,1.633333,1419.900000,258.400000,141.500000,487.433333,2.4
t2,368.533333,1.966667,1113.566667,193.233333,129.066667,262.633333,-1.0
t3,177.266667,1.566667,598.533333,164.766667,99.300000,125.966667,3.6

In [153]:
df_marginal_CAC = df_marginal_spend/df_marginal_conversion

In [154]:
df_marginal_CAC

,direct,display,email,organic_search,paid_search,referral,social
t1,0.0,2.051563,3.869969,0.0,7.067138,0.704275,1.950332
t2,-0.0,3.807590,5.175091,0.0,7.747934,0.898015,2.713459
t3,0.0,7.938608,6.069189,0.0,10.070493,1.670751,5.641219

In [ ]:
df_marginal_CAC = df_marginal_CAC.drop(['direct','organic_search'],axis = 1)

In [146]:
df_marginal_CAC

     display     email  paid_search  referral    social
t1  2.051563  3.869969     7.067138  0.704275  1.950332
t2  3.807590  5.175091     7.747934  0.898015  2.713459
t3  7.938608  6.069189    10.070493  1.670751  5.641219